*.iml
/pdris-lab1/homework/out
/pdris-lab1/homework/target
/pdris-lab1/homework/.idea
/pdris-lab2/homework/out
/pdris-lab2/homework/target
/pdris-lab2/homework/.idea
/pdris-lab3/homework/out
/pdris-lab3/homework/target
/pdris-lab3/homework/.idea
/pdris-lab4/homework/out
/pdris-lab4/homework/target
/pdris-lab4/homework/.idea

